datasets
```
mongoDB/1m
mongoDB/750k
mongoDB/500k
mongoDB/250k
```
sql/1m
sql/750k
sql/500k
sql/250k
```
cassandra/1m
cassandra/750k
cassandra/500k
cassandra/250k
```
redis/1m
redis/750k
redis/500k
redis/250k
```

